psutil==5.4.8
pyserial==3.4
pyyaml==3.13
gps3==0.33.3
hvac==0.7.1
kalibrate==2.1.0
haversine==2.0.0
python-dateutil==2.7.5
python-geoip==1.2
python-geoip-geolite2==2015.303
pyudev==0.21.0
LatLon==1.0.2
